@import '../../../styles/functions';
@import '../../../styles/variables';

.input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 0;
  outline: none;

  &:focus {
    box-shadow: 0 0 0 3px rgba(tint($color-primary, 40%), 0.5);
  }
}
