@import '../../../styles/functions';
@import '../../../styles/variables';

$button-active-shadow-offset-x: 0px;
$button-active-shadow-offset-y: 0px;
$button-active-shadow-blur: 0px;
$button-active-shadow-spread: 2px;

.button {
  padding: 0.5rem 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 0;
  outline: none;

  &:hover {
    cursor: pointer;
  }
}

@mixin button-colors($background, $text) {
  color: $text;
  background-color: $background;

  &:hover {
    background-color: tint($background, 10%);
  }

  &:active {
    box-shadow: $button-active-shadow-offset-x $button-active-shadow-offset-y $button-active-shadow-blur $button-active-shadow-spread rgba(tint($background, 40%), 0.5);
  }
}

.primary {
  @include button-colors($color-primary, white);
}

.secondary {
  @include button-colors($color-secondary, white);
}

.accent {
  @include button-colors($color-accent, white);
}

.disabled {
  @include button-colors($color-gray-dark, shade($color-gray-dark, 20%));
  cursor: not-allowed !important;
}

.small {
  padding: 0.4rem 0.8rem;
  font-size: 0.825rem;
}

.medium {
  font-size: 1rem;
}

.large {
  padding: 0.7rem 1.4rem;
  font-size: 1.5rem;
}
