@import '../../../styles/variables';

.container {
  display: flex;
  flex: 1;
  flex-direction: column-reverse;
}

.searchForm {
  min-width: 20rem;
}

.uploadButton {
  margin-bottom: 1rem;
}

@media (min-width: $media-md) {
  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .uploadButton {
    margin-bottom: 0;
  }
}
