@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.count {
  font-size: 2rem;
}

@media (min-width: $media-md) {
  .container {
    flex-direction: row;
    align-items: center;
  }
}
