@import '../../../styles/variables';

.container {
  flex: 1;
}

.filesContainer {
  display: grid;
  grid-template-columns: 100%;
  grid-row-gap: 1rem;
}

@media (min-width: $media-md) {
  .filesContainer {
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 2%;
  }
}
