@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column;
  word-break: break-all;
  padding: 1rem;
  background-color: white;
  border: 1px solid tint($color-gray, 10%);
}

.fileName {
  flex: 1;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.fileSize {

}
