@import '../../../styles/variables';

.container {
  display: flex;
  flex-direction: column-reverse;
}

.message {
  flex: 1;
  text-align: center;
  padding: 0.5rem;
}

.messageDanger {
  color: $color-danger;
}

.messageSuccess {
  color: $color-success;
}

.fileInput {
  display: none;
}

.button {
  flex: 1;
}

@media (min-width: $media-md) {
  .container {
    flex-direction: row;
  }

  .button {
    flex: initial;
  }
}
