// Credits: https://loading.io/css/

.container {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.element1,
.element2,
.element3,
.element4 {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.element1 {
  animation-delay: -0.45s;
}

.element2 {
  animation-delay: -0.3s;
}

.element3 {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
