$color-primary: rgb(54, 100, 249);
$color-secondary: rgb(24, 133, 55);
$color-accent: rgb(189, 29, 165);
$color-dark: #2D2728;
$color-gray-dark: rgb(159, 159, 159);
$color-gray: #E5E5E5;
$color-danger: rgb(218, 58, 58);
$color-success: rgb(22, 111, 22);

$transition-default: all 0.3s ease-in;

$font-size-sm: 12px;
$font-size-lg: 14px;
$font-family: sans-serif;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;
