@import '~normalize.css';
@import 'variables';

html {
  font-size: $font-size-sm;
  font-family: $font-family;
}

body {
  background-color: $color-gray;
}

* {
  box-sizing: border-box;
}

@media (min-width: $media-md) {
  html {
    font-size: $font-size-lg;
  }
}
